{% extends "app.html" %}
{% block body %}
	<div class="column">
		<div class="col-md-4">
				<div class="form-group">
					<label for="data-numbers">Datos</label>
					<input id="data-numbers" type=text size=30 name=data placeholder="1,2,3,4..." class="form-control">
				</div>
				<a class="btn btn-success" id="submit-nag">Cargar datos</a>

		</div>
	</div>
	<div class="column">
		<div class="col-md-6">
			<table id="tabled" class="celled table">
			<thead>
			<tr>
				<td>Intervalo</td>
				<td>Marca de clase</td>
				<td>Frecuencia relativa</td>
				<td>Frecuencia relativa acumulada</td>
			</tr>
			</thead>
			<tbody id="tabledbody">

			</tbody>
		</table>
		</div>
	</div>
{% endblock %}
